/* Customernav.css */
.Colours {
    font-family: 'sans-serif';
  }
  
  /* Define font styles for card titles and text */
  .card-title {
    font-family:  sans-serif;
    font-size: 24px; /* Adjust the font size as needed */
    font-weight: bold; /* Specify the font weight (e.g., normal, bold) */
  }
  
  .card-text {
    font-family: 'sans-serif';
    font-size: 16px; /* Adjust the font size as needed */
  }
  
  /* You can also target other elements and customize their font styles */
  .h2 {
    font-family: 'sans-serif';
    font-size: 28px;
    font-weight: bold;
  }
  .h3 {
    font-family: 'sans-serif';
    font-size: 28px;
    font-weight: bold;
  }
  .h1 {
    font-family: 'sans-serif';
    font-size: 28px;
    font-weight: bold;
  }
  